@include respond-to(desktop){
    .header {
    background: rgb(225, 255, 143);
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
    z-index: 2;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    &__back {
        background-position: 430% 43%;
        background-repeat: no-repeat;
    }

    &__container {
        max-width: 1440px;
        margin-top: 196px;
        position: relative;
        z-index: 2;
        padding-left: 120px;
        padding-right: 120px;
        margin-left: auto;
        margin-right: auto;
    }

    &__content {
        text-align: left;
        max-width: 769px;
        margin-top: 165px;
    }

    &__title {
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        z-index: 2;
    }

    &__desc {
        color: $color-primary;
        font-family: $font-family-base;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        padding-right: 23px;
        margin-top: 25px;
        margin-bottom: 63px;

        &-accent {
            font-weight: 600;
        }
    }

    &__button {
        box-sizing: border-box;
        border: 1px solid $color-primary;
        border-radius: 60px;
        background: $color-primary;
        color: $color-text;
        font-family: $font-family-base;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;
        padding: 18px 65px;
        text-decoration: none;

        &:hover {
            background: transparent;
            color: black !important;
            border: 1px solid $color-primary;
        }
    }

    &__star {
        position: absolute;
        top: 27%;
        left: 98%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1074.500000' height='1130.957397' viewBox='0 0 1074.5 1130.96' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdesc%3e Created with Pixso. %3c/desc%3e%3cdefs/%3e%3cpath id='Vector 4780' d='M241.29 323.45L317.5 411.83L0.5 486.45' stroke='%23202027' stroke-opacity='1.000000' stroke-width='1.000000' stroke-linecap='round'/%3e%3cpath id='Vector' d='M708.18 381.86C717.61 384.48 980.01 495.42 980.01 495.42L701.61 525.3L877.49 751.11L629.53 596.86L604.27 858.31L534.38 582.98L301.43 713.95L461.9 521.72L177.13 508.74L444.8 428.48L245.9 199.41L525.53 330.96L589.53 77.14L618.26 331.5L872.98 156.05L708.18 381.86Z' fill='%23BCEC30' fill-opacity='1.000000' fill-rule='nonzero'/%3e%3cpath id='Vector' d='M980.01 495.42L701.61 525.3L877.49 751.11L629.53 596.86L604.27 858.31L534.38 582.98L301.43 713.95L461.9 521.72L177.13 508.74L444.8 428.48L245.9 199.41L525.53 330.96L589.53 77.14L618.26 331.5L872.98 156.05L708.18 381.86C717.61 384.48 980.01 495.42 980.01 495.42Z' stroke='%23202027' stroke-opacity='1.000000' stroke-width='1.000000'/%3e%3cpath id='Vector 4781' d='M231.58 587.45L355.5 587.45L213.5 766.45' stroke='%23202027' stroke-opacity='1.000000' stroke-width='1.000000' stroke-linecap='round'/%3e%3cpath id='Vector 4782' d='M371.5 791.5L485.26 712.45L591.38 1130.46' stroke='%23202027' stroke-opacity='1.000000' stroke-width='1.000000' stroke-linecap='round'/%3e%3cpath id='Vector 4788' d='M449.65 801.45L393.5 860.22L473.5 927.45L449.65 801.45Z' fill='%23BCEC30' fill-opacity='1.000000' fill-rule='nonzero'/%3e%3cpath id='Vector 4788' d='M449.65 801.45L473.5 927.45L393.5 860.22L449.65 801.45Z' stroke='%23202027' stroke-opacity='1.000000' stroke-width='1.000000'/%3e%3cpath id='Vector 4791' d='M491.5 996.45L525.5 1120.46' stroke='%23202027' stroke-opacity='1.000000' stroke-width='1.000000' stroke-linecap='round'/%3e%3c/svg%3e") no-repeat center/contain;
        animation: float 2.5s ease-in-out infinite alternate;
        z-index: 0;
        background-size: 80%;
    }
}

.marquee {
    overflow: hidden;
    width: 100%;
    height: 90px;
    display: flex;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    background: rgb(188, 236, 48);

    &__inner {
        display: flex;
        align-items: center;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 30s linear infinite;

        span {
            font-family: $font-family-base;
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
            color: $color-primary;
            margin: 0 18px;
        }

        svg {
            margin: 0 18px;
            flex-shrink: 0;
        }

        &--mobile {
            display: none;
        }
    }

    &__inner--mobile {
        display: flex;
        align-items: center;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 30s linear infinite;

        span {
            font-size: 16px;
            margin: 0 27px;
        }

        svg {
            margin: 0 18px;
        }
    }
}
}

// Responsive styles

@include respond-to(mobile)  {
  
    .header {
      background: rgb(225, 255, 143);
      position: relative;
      width: 100%;
      height: 700px;
      overflow: hidden;
      position: relative;
      z-index: 2;
      width: 100%;
      margin: 0 auto;
      padding: 2rem 0rem 0rem 0rem;
      box-sizing: border-box;
      display: flex
  ;
      flex-direction: column;
      justify-content: space-between;
  
  
        }
        .header__back {
     
          background-position: 430% 43%;
          background-repeat: no-repeat;}
          .header__container {
            max-width: 1200px; /* Ограничение ширины контента */
            margin: 0 auto; /* Центрирование */
            position: relative;
            z-index: 2;
            margin-top: 116px;
            
        }
        .header__content {
          position: relative;
          z-index: 2;
          text-align: center;
          padding-left: 2px;
          padding-right: 1px;
          margin: 0rem 2rem;
        }
        .header__title {
          color: rgb(32, 32, 39);
          font-family: Montserrat;
          font-size: 40px;
          font-weight: 700;
          line-height: 49px;
          letter-spacing: 0px;
          text-align: center;
          z-index: 2;
          
        }
        .header__desc {
          color: rgb(32, 32, 39);
          font-family: Montserrat;
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0px;
          text-align: center;
          margin-top: 23px;
          margin-bottom: 53px;
        }
        .header__desc-accent {
          font-weight: 600;
      }
        .header__button {
          box-sizing: border-box;
          border: 1px solid rgb(32, 32, 39);
          border-radius: 60px;
          background: rgb(32, 32, 39);
          color: rgb(255, 255, 255);
          font-family: Montserrat;
          font-size: 16px;
          font-weight: 600;
          line-height: 141.69%;
          letter-spacing: 0%;
          text-align: center;
          padding: 17px 103px;
          text-decoration: none;
        }
        .header__button:hover {
          background:transparent;
          color: #222!important;
          border: 1px solid #222;}
          
        .header__animation {
          width: 100%;
          transform: translateY(-50%);
          width: 1074px;
          height: 1130px;
          z-index: 0;
          transform: translateX(50%);
      
        }
        .header__star {
          position: absolute;
          top: 8%;
          left: 88%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1074.500000' height='1130.957397' viewBox='0 0 1074.5 1130.96' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdesc%3e Created with Pixso. %3c/desc%3e%3cdefs/%3e%3cpath id='Vector 4780' d='M241.29 323.45L317.5 411.83L0.5 486.45' stroke='%23202027' stroke-opacity='1.000000' stroke-width='1.000000' stroke-linecap='round'/%3e%3cpath id='Vector' d='M708.18 381.86C717.61 384.48 980.01 495.42 980.01 495.42L701.61 525.3L877.49 751.11L629.53 596.86L604.27 858.31L534.38 582.98L301.43 713.95L461.9 521.72L177.13 508.74L444.8 428.48L245.9 199.41L525.53 330.96L589.53 77.14L618.26 331.5L872.98 156.05L708.18 381.86Z' fill='%23BCEC30' fill-opacity='1.000000' fill-rule='nonzero'/%3e%3cpath id='Vector' d='M980.01 495.42L701.61 525.3L877.49 751.11L629.53 596.86L604.27 858.31L534.38 582.98L301.43 713.95L461.9 521.72L177.13 508.74L444.8 428.48L245.9 199.41L525.53 330.96L589.53 77.14L618.26 331.5L872.98 156.05L708.18 381.86C717.61 384.48 980.01 495.42 980.01 495.42Z' stroke='%23202027' stroke-opacity='1.000000' stroke-width='1.000000'/%3e%3cpath id='Vector 4781' d='M231.58 587.45L355.5 587.45L213.5 766.45' stroke='%23202027' stroke-opacity='1.000000' stroke-width='1.000000' stroke-linecap='round'/%3e%3cpath id='Vector 4782' d='M371.5 791.5L485.26 712.45L591.38 1130.46' stroke='%23202027' stroke-opacity='1.000000' stroke-width='1.000000' stroke-linecap='round'/%3e%3cpath id='Vector 4788' d='M449.65 801.45L393.5 860.22L473.5 927.45L449.65 801.45Z' fill='%23BCEC30' fill-opacity='1.000000' fill-rule='nonzero'/%3e%3cpath id='Vector 4788' d='M449.65 801.45L473.5 927.45L393.5 860.22L449.65 801.45Z' stroke='%23202027' stroke-opacity='1.000000' stroke-width='1.000000'/%3e%3cpath id='Vector 4791' d='M491.5 996.45L525.5 1120.46' stroke='%23202027' stroke-opacity='1.000000' stroke-width='1.000000' stroke-linecap='round'/%3e%3c/svg%3e") no-repeat center/contain;
          animation: float 2.5s ease-in-out infinite alternate;
          z-index: 3;
          background-size: 80%;
        }
        
    .marquee {
      overflow: hidden;
      width: 100%;
      height: 53px;
      display: flex;
      /* align-items: center; */
      box-sizing: border-box;
      border: 1px solid rgba(255, 255, 255, 0.2);
      -webkit-backdrop-filter: blur(50px);
      backdrop-filter: blur(50px);
      background: rgb(188, 236, 48);
     
  }
  .marquee__inner {
      display: none;
  }
  .marquee__inner--mobile span {
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      color: #202027;
      margin: 0 27px;
  }
  .marquee__inner--mobile {
    display: flex;
    align-items: center;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 30s linear infinite;
  }
  .marquee__inner--mobile svg {
      margin: 0 18px;
      flex-shrink: 0;
  } 
  
     
   
}
  

@include respond-to(tablet) {
    .header {
        padding: 32px 0;
        min-height: 80vh;

        &__container {
            padding: 0 24px;
            overflow: hidden;
            padding-bottom: 70px;
            max-width: 769px;
            margin-left: 120px;
        }

        &__content {
            max-width: 600px;
            position: relative;
            z-index: 2;
        }

        &__title {
            font-size: 48px;
            line-height: 59px;
            margin-bottom: 24px;
        }

        &__desc {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 32px;
        }

        &__button {
            font-size: 20px;
            padding: 12px 32px;
            border-radius: 48px;
        }

        &__back {
            width: 100%;
            background-position: 30% 50%;
            background-size: 88%;
            height: 100%;
            padding-top: 196px;
            background-position: 430% 43%;
            background-repeat: no-repeat;
            position: relative;
        }
    }

    .marquee {
        padding: 27px 0;
        grid-row: -2 / -1;
        grid-column: 1/13;

        &__item {
            font-size: 20px;
        }

        &__icon {
            width: 24px;
            height: 24px;
        }
    }
} 