// Utils
@import 'utils/mixins';
@import 'utils/animations';

// Base
@import 'base/variables';
@import 'base/base';

// Components
@import 'components/header';
@import 'components/footer';
@import 'components/categories';
@import 'components/game-list';
@import 'components/about';

// Games
//@import 'games/quiz';

// Responsive styles
@include respond-to(mobile) {
    .quiz-fact-image {
        display: none;
    }
}

.rps-stats-container {
    @include respond-to(mobile) {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    @include respond-to(desktop) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}




